<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
</head>

<body>
    <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <strong>Amaze UI</strong>
            <small>后台管理模板</small>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li>
                    <a href="javascript:;">
                        <span class="am-icon-envelope-o"></span> 收件箱
                        <span class="am-badge am-badge-warning">5</span>
                    </a>
                </li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span class="am-icon-users"></span> 管理员
                        <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li>
                            <a href="#">
                                <span class="am-icon-user"></span> 资料</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="am-icon-cog"></span> 设置</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="am-icon-power-off"></span> 退出</a>
                        </li>
                    </ul>
                </li>
                <li class="am-hide-sm-only">
                    <a href="javascript:;" id="admin-fullscreen">
                        <span class="am-icon-arrows-alt"></span>
                        <span class="admin-fullText">开启全屏</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="am-cf admin-main">
        <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
          <ul class="am-list admin-sidebar-list">
            <li>
              <a href="/user/info">
                <span class="am-icon-home"></span> 首页</a>
            </li>
            
            <li class="admin-parent">
              <a class="am-cf" data-am-collapse="{target: '#collapse-nodemanage'}">
                <span class="am-icon-file"></span> 节点管理
                <span class="am-icon-angle-right am-fr am-margin-right"></span>
              </a>
              <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nodemanage">
                <li>
                  <a href="/user/node/list">
                    <span class="am-icon-pencil-square-o"></span> node</a>
                </li>
              </ul>
            </li>
            <li class="admin-parent">
              <a class="am-cf" data-am-collapse="{target: '#collapse-appmanage'}">
                <span class="am-icon-file"></span> 应用管理
                <span class="am-icon-angle-right am-fr am-margin-right"></span>
              </a>
              <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-appmanage">
                <li>
                  <a href="/user/pod/list">
                    <span class="am-icon-table"></span> pod</a>
                </li>
                <li>
                  <a href="/user/replicationcontroller/list">
                    <span class="am-icon-pencil-square-o"></span> replicationcontroler</a>
                </li>
                <li>
                  <a href="/user/service/list">
                    <span class="am-icon-pencil-square-o"></span> service</a>
                </li>
              </ul>
            </li>
            <li class="admin-parent">
              <a class="am-cf" data-am-collapse="{target: '#collapse-storagemanage'}">
                <span class="am-icon-file"></span> 存储管理
                <span class="am-icon-angle-right am-fr am-margin-right"></span>
              </a>
              <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-storagemanage">
                <li>
                  <a href="/user/pvc/list">
                    <span class="am-icon-pencil-square-o"></span> pvc</a>
                </li>
              </ul>
            </li>
            <li class="admin-parent">
              <a class="am-cf" data-am-collapse="{target: '#collapse-imagemanage'}">
                <span class="am-icon-file"></span> 镜像管理
                <span class="am-icon-angle-right am-fr am-margin-right"></span>
              </a>
              <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-imagemanage">
                <li>
                  <a href="/user/image/list">
                    <span class="am-icon-pencil-square-o"></span> image</a>
                </li>
              </ul>
            </li>
            <li class="admin-parent">
              <a class="am-cf" data-am-collapse="{target: '#collapse-logsmanage'}">
                <span class="am-icon-file"></span> 日志管理
                <span class="am-icon-angle-right am-fr am-margin-right"></span>
              </a>
              <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-logsmanage">
                <li>
                  <a href="/user/log/list">
                    <span class="am-icon-pencil-square-o"></span> logs</a>
                </li>
              </ul>
            </li>         
            
            <li>
                <a href="/user/login">
                  <span class="am-icon-sign-out"></span> 注销</a>
              </li>
          </ul>
  
          <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
              <p>
                <span class="am-icon-tag"></span> Message</p>
              <p>Welcome to myproject!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar end -->

        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">Image</strong> /
                        <small>imagelist</small>
                    </div>
                </div>

                <hr>

                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a href="/user/image/push">
                                    <button type="button" class="am-btn am-btn-default">
                                        <span class="am-icon-plus"></span> 新增</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                    <tr>
                                        <th class="table-title">name</th>
                                        <th class="table-title">lables</th>
                                        <th class="table-set">operate</th>
                                    </tr>
                                </thead>
                                <tbody id="imagelist">
                                </tbody>
                            </table>

                            <hr />
                            <p>注：.....</p>
                        </form>
                    </div>

                </div>
            </div>

            <footer class="admin-content-footer">
                <hr>
                <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
            </footer>

        </div>
        <!-- content end -->
    </div>

    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

    <footer>
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

    <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
<script>
    //loadImages loadImages
    function loadImages() {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var obj = JSON.parse(xmlhttp.responseText);
                var htmltext = '<div>';
                for (var i=0;i<obj.length;i=i+1){
                    htmltext+=
                        '<tr>' +
                        '<td>' + obj[i]["name"]+ '</td>' +
                        '<td>' + obj[i]["tag"] + '</td>' +
                        '<td>'+
                        '<div class="am-btn-toolbar">' +
                        '<div class="am-btn-group am-btn-group-xs">' +
                        '<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"'+
                        'onclick=DelImage("'+obj[i]['name']+'","'+obj[i]['tag']+'")><span class="am-icon-trash-o"></span> 删除</button>' +
                        '</div>' +
                        '</div>' +
                        '</td>' +
                        '</tr>';
                }
                
                
                htmltext = htmltext + "</div>";
                document.getElementById("imagelist").innerHTML = htmltext;
                //document.getElementById("myDiv").innerHTML=xmlhttp.responseText;

            }
        }
        xmlhttp.open("GET", "/image/list", true);
        xmlhttp.send();
    }

    //DelImage DelImage
    function DelImage(name, tag) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert("操作成功");
                loadImages();
            }else{
                alert("删除中")
            }
        }
        xmlhttp.open("DELETE", "/image/delete?imagename=" + name + "&tag=" + tag, true);
        xmlhttp.send();
    }
    document.body.onload = loadImages;
</script>

</html>